<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A piece of cake</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1 id="main-title">Developing this webserver in rocket</h1>
    <article>
        <p>
            Hello, if you are seeing this then you should know that this server is 
            being making for fun
        </p>
        <ul>
            <li>View</li>
            <li>model: /json</li>
        </ul>
    </article>

    <script src="js/engine.js"></script>
</body>
</html>